.App{
  height: 100%;
  width: 100%;
}
.App-header {

  width: 100%;

}
.App-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  width: 85%;

}
.App-text{
  margin-left: 5%;
}

.App-nav {
  overflow: hidden;
  background-color: #ddd;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0px;
  padding: 0px;
  width: 85%;
  display: inline-block;
  position: relative;
}
.App-body{
  width: 85%;
  display: inline-block;
  position: relative;
}
.App-nav a {
  float: left;
  display: block;
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.App-nav-item:hover {
  background-color: #333;
  color: white;
  cursor: pointer;
}

.App-admin{
  height: 100%;
  width: 15%;
  float: right;

}
#img{
  margin: 10px;
}
.sticky {
  background-color: #e71111;
  width: 100%;
  height: 0px;
  position: absolute;
  left: 0px;
  top: -40px;
  transition: 0.5s;
  margin-top: 40px;
  padding: 0px;
}
